<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 mb-3 text-center">
      <h3 class="fw-bold"> Elige una tipo:</h3>
    </div>

    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-2">
          <div class="d-grid">
             <button class="btn btn-success" type="button" (click)="pokemonName = 'bulbasaur'"><img src="https://archives.bulbagarden.net/media/upload/thumb/3/32/GrassIC_Masters.png/64px-GrassIC_Masters.png" alt="" width="30" height="24"></button>
          </div>
        </div>
        <div class="col-2">
          <div class="d-grid">
             <button class="btn btn-danger" type="button" (click)="pokemonName = 'charmander'"><img src="https://archives.bulbagarden.net/media/upload/thumb/2/2e/FireIC_Masters.png/64px-FireIC_Masters.png" alt="" width="30" height="24"></button>
          </div>
        </div>
        <div class="col-2">
          <div class="d-grid">
             <button class="btn btn-info" type="button" (click)="pokemonName = 'squirtle'"><img src="https://archives.bulbagarden.net/media/upload/thumb/3/3f/WaterIC_Masters.png/64px-WaterIC_Masters.png" alt="" width="30" height="24"></button>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="pokemonName">
      <div class="col-12 mb-3 text-center">
        <h3 class="fw-bold"> Tu nuevo pokemon es:</h3>
      </div>
  
      <div class="col-3 mb-3">
        <pokemon-card [pokemonName]="pokemonName"></pokemon-card>
      </div>
    </ng-container>
    
  </div>
</div>